@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #46448f;
  --secondary: #00aff0;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
  --heading: oklch(12.9% 0.042 264.695);
  --heading-secondary: oklch(27.9% 0.041 260.031);
  --paragraph: oklch(55.1% 0.027 264.364);
}

body {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-secondary);
}

@theme inline {
  --breakpoint-xlg: 946px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-inter: var(--font-primary);
  --text-heading: var(--heading);
  --text-heading-secondary: var(--heading-secondary);
  --text-paragraph: var(--paragraph);
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--paragraph);
  font-family: var(--font-primary);
}

.hero-section {
  background: url("/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.md-container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.saturate-xs {
  filter: invert(100%) grayscale(100%) brightness(200%);
}

.frame-grid {
  background: url("/Frame.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-full w-fit text-sm text-white font-medium bg-secondary/60 hover:bg-transparent border border-secondary transition;
  }
  .btn-outline {
    @apply px-4 py-2 rounded-full w-fit text-sm text-white border-white font-medium bg-transparent hover:bg-white border  transition;
  }
  .nav-link {
    @apply relative cursor-pointer after:content-[''] after:w-0 after:absolute after:-bottom-1 after:left-0  after:bg-white after:h-[1px] rounded-full  hover:after:w-full after:transition-all after:delay-500 after:ease-in-out after:duration-500;
  }
  .nav-link-active {
    @apply relative cursor-pointer after:content-[''] after:absolute after:-bottom-1 after:left-0  after:bg-white after:h-[1px] rounded-full after:w-[35%]  hover:after:w-full after:transition-all after:delay-500 after:ease-in-out after:duration-500;
  }
}

button {
  cursor: pointer;
}
